<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:websocket="http://www.springframework.org/schema/websocket"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx.xsd 
    http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd">
    
	<bean id="propertyConfigurerForManager"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="order" value="2" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath:config/jdbcTemplate.properties</value>
				<value>classpath:config/memcached.properties</value>
			</list>
		</property>
	</bean>

	<import resource="jdbcTemplate.xml" />
	
	<!-- use-default-filters为false 让base-package失效 采用context:include-filter定制 -->
	<!-- 定义扫描根路径为com.niiwoo.web，不使用默认的扫描方式 -->	
	<context:component-scan base-package="nagaseiori" use-default-filters="false">
		<!-- 扫描符合@Service @Repository的类 -->
		<context:include-filter type="regex" expression="nagaseiori.service.*"/>
		<context:include-filter type="regex" expression="nagaseiori.dao.*"/>
		<context:include-filter type="regex" expression="nagaseiori.commons.component.*"/>
	</context:component-scan>
	
    <bean id="SpringContextUtil" class="nagaseiori.commons.utils.SpringContextUtil"/>
    <bean id="propertiesConfig" class="nagaseiori.commons.component.PropertiesConfig">
    </bean>
</beans>
